* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: monospace; font-size: 3vmin; }

ul { display: -webkit-box; display: -ms-flexbox; display: flex; list-style: none; }

img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; }

body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

body::-webkit-scrollbar { display: none; }

body .item { display: -ms-grid; display: grid; -ms-grid-columns: 1fr auto; grid-template-columns: 1fr auto; grid-template-areas: "input button" "list ." "position ."; gap: 0.5em; width: 50%; padding: 2em 0; }

body .item > input { -ms-grid-row: 1; -ms-grid-column: 1; grid-area: input; text-align: center; padding: 0.5em 0; border: 0.2em solid black; border-radius: 0.5em; font-weight: bold; background-color: white; background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0%, #fafafa)); background-image: linear-gradient(to bottom, white 0% 50%, #fafafa 0% 100%); }

body .item > input::-webkit-input-placeholder { color: black; opacity: 0.5; }

body .item > input:-ms-input-placeholder { color: black; opacity: 0.5; }

body .item > input::-ms-input-placeholder { color: black; opacity: 0.5; }

body .item > input::placeholder { color: black; opacity: 0.5; }

body .item > input:focus { outline: none; border: 0.2em solid green; -webkit-animation-name: flash; animation-name: flash; -webkit-animation-duration: 0.8s; animation-duration: 0.8s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-direction: alternate; animation-direction: alternate; }

body .item > input:focus::-webkit-input-placeholder { opacity: 0; }

body .item > input:focus:-ms-input-placeholder { opacity: 0; }

body .item > input:focus::-ms-input-placeholder { opacity: 0; }

body .item > input:focus::placeholder { opacity: 0; }

body .item > button { -ms-grid-row: 1; -ms-grid-column: 2; grid-area: button; border-radius: 0.5em; border: 0.2em solid black; background-color: green; background-image: -webkit-gradient(linear, left top, left bottom, from(#009900), color-stop(0%, green)); background-image: linear-gradient(to bottom, #009900 0% 50%, green 0% 100%); color: white; font-weight: bold; padding: 0.5em 1em; text-align: center; margin-left: 1em; }

body .item > button:active { -webkit-filter: brightness(90%); filter: brightness(90%); }

body .item > ul { -ms-grid-row: 2; -ms-grid-column: 1; grid-area: list; padding: 0.5em 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 1em; }

body .item > ul > li { text-transform: capitalize; padding: 0.2em; font-weight: bold; border: 0.2em solid black; border-radius: 0.5em; text-align: center; background-color: green; background-image: -webkit-gradient(linear, left top, left bottom, from(#009900), color-stop(0%, green)); background-image: linear-gradient(to bottom, #009900 0% 50%, green 0% 100%); color: white; -webkit-filter: grayscale(1); filter: grayscale(1); }

body .item > ul > li.selected { -webkit-filter: grayscale(0); filter: grayscale(0); -webkit-animation-name: fade-out; animation-name: fade-out; -webkit-animation-delay: 1s; animation-delay: 1s; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }

body .item .position { -ms-grid-row: 3; -ms-grid-column: 1; grid-area: position; background-color: green; background-image: -webkit-gradient(linear, left top, left bottom, from(#009900), color-stop(0%, green)); background-image: linear-gradient(to bottom, #009900 0% 50%, green 0% 100%); color: white; font-weight: bold; padding: 0.5em; border-radius: 0.5em; border: 0.2em solid black; text-align: center; }

@-webkit-keyframes flash { 0% { border: 0.2em solid green; }
  100% { border: 0.2em solid white; } }

@keyframes flash { 0% { border: 0.2em solid green; }
  100% { border: 0.2em solid white; } }

@-webkit-keyframes fade-out { 0% { -webkit-filter: grayscale(0); filter: grayscale(0); }
  100% { -webkit-filter: grayscale(1); filter: grayscale(1); } }

@keyframes fade-out { 0% { -webkit-filter: grayscale(0); filter: grayscale(0); }
  100% { -webkit-filter: grayscale(1); filter: grayscale(1); } }
