body {
    display: flex;
    justify-content: center;
    
    &::-webkit-scrollbar {
        display: none;
    }

    .item {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas:
        "input button"
        "list ."
        "position .";
        gap: 0.5em;
        width: 50%;
        padding: 2em 0;

        > input {
            grid-area: input;
            text-align: center;
            padding: 0.5em 0;
            border: 0.2em solid black;
            border-radius: 0.5em;
            font-weight: bold;
            background-color: white;
            background-image: linear-gradient(to bottom, hsl(0, 0%, 100%) 0% 50%, hsl(0, 0%, 98%) 0% 100%);

            &::placeholder {
                color: black;
                opacity: 0.5;
            }

            &:focus {
                outline: none;
                border: 0.2em solid hsl(120, 100%, 25%);
                animation-name: flash;
                animation-duration: 0.8s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: alternate;


                &::placeholder {
                    opacity: 0;
                }
            }
        }

        > button {
            grid-area: button;
            border-radius: 0.5em;
            border: 0.2em solid black;
            background-color: green;
            background-image: linear-gradient(to bottom, hsl(120, 100%, 30%) 0% 50%, hsl(120, 100%, 25%) 0% 100%);
            color: white;
            font-weight: bold;
            padding: 0.5em 1em;
            text-align: center;
            margin-left: 1em;

            &:active {
                filter: brightness(90%);
            }
        }

        > ul {
            grid-area: list;
            padding: 0.5em 0;
            display: flex;
            flex-direction: column;
            gap: 1em;

            > li {
                text-transform: capitalize;
                padding: 0.2em;
                font-weight: bold;
                border: 0.2em solid black;
                border-radius: 0.5em;
                text-align: center;
                background-color: green;
                background-image: linear-gradient(to bottom, hsl(120, 100%, 30%) 0% 50%, hsl(120, 100%, 25%) 0% 100%);
                color: white;
                filter: grayscale(1);

                &.selected {
                    filter: grayscale(0);
                    animation-name: fade-out;
                    animation-delay: 1s;
                    animation-duration: 1s;
                    animation-timing-function: linear;
                    animation-fill-mode: forwards;
                }
            }
        }

        .position {
            grid-area: position;
            background-color: green;
            background-image: linear-gradient(to bottom, hsl(120, 100%, 30%) 0% 50%, hsl(120, 100%, 25%) 0% 100%);
            color: white;
            font-weight: bold;
            padding: 0.5em;
            border-radius: 0.5em;
            border: 0.2em solid black;
            text-align: center;
        }
    }
}

// Animations
@keyframes flash {
    0% {
        border: 0.2em solid hsl(120, 100%, 25%);
    }
    100% {
        border: 0.2em solid hsl(120, 100%, 100%);
    }
}

@keyframes fade-out {
    0% {
        filter: grayscale(0);
    }
    100% {
        filter: grayscale(1);
    }
}